.home {
  width: 100%;
  height: 100%;
  height: 90vh;
  background-color: var(--dark-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%230c0913' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

.home__box {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--white-color);
}

.home__heading {
  font-size: 5rem;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 700;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.home__heading span {
  color: var(--primary-color);
}

.home__bottom {
  font-size: 4rem;
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.btn-down,
.btn-down:link,
.btn-down:visited {
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid transparent;
  border-color: var(--primary-color);
  text-decoration: none;
  padding: 1rem;
  font-size: 1.3rem;
  transform: skewY(-4deg);
  transition: all 0.2s;
  text-transform: capitalize;
  display: inline-block;
  backface-visibility: hidden;
  font-family: inherit;
  font-weight: 700;
}

.btn-down:not(:first-child) {
  margin-left: 4rem;
}

.btn-down:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  box-shadow: 0 0.6rem 2rem rgba(0, 0, 0, 0.8);
  transform: translateY(-0.5rem);
}

.btn-down:active {
  box-shadow: 0 0.6rem 2.7rem rgba(0, 0, 0, 0.8);
  transform: translateY(-0.2rem);
}

.Layer_1 {
  fill: var(--primary-color-dark);
  margin-top: -50px;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
    /*postive right negative left*/
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}



@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media (max-width:537px) {
  .btn-down:not(:first-child) {
    margin-left: 0;
  }

  .btn-down,
.btn-down:link,
.btn-down:visited{
  font-size: 1rem;
}

  .home__heading {
    font-size: 3.5rem;
    letter-spacing: 4px;
  }
}