.custom-navbar {
  background-color: var(--primary-color-dark);
  box-shadow: 0 0 15px 0 var(--black-color);
}

.nav-item .nav-link {
  color: var(--white-color) !important;
  font-size: 1.1rem;
}

.nav-item .nav-link:hover {
  color: var(--secondary-color) !important;
}

.navbar-brand {
  color: var(--white-color) !important;
  font-size: 1.5rem;
  font-weight: bold;
}