.homescreen__box {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: var(--white-color);
}

.homescreen__heading {
  font-size: 5rem;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 700;
}

.homescreen__heading span {
  color: var(--primary-color);
}

.homescreen__heading-secondary {
  /* font-size: 1rem;
  font-weight: 700; */
  color: var(--primary-color);
  text-transform: capitalize;
}

@media only screen and (min-width:501px) and (max-width: 800px) {
  .homescreen__heading {
    font-size: 4rem;
  }
}

@media only screen and (max-width:600px) {
  .homescreen__box {
    text-align: center;
  }
}

@media only screen and (min-width:700px) {
  .custom-row {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .homescreen__heading {
    font-size: 3rem;
  }

  .mouse_scroll {
    display: none !important;
  }

  .homescreen__heading-secondary {
    font-size: 0.8rem !important;
  }

  .img-fluid {
    max-width: 80% !important;
  }
}


.mouse_scroll {
  display: block;
  margin: 0 auto;

  margin-top: 25px;
}


.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);

  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;

  width: 16px;
  height: 16px;
}


.unu {
  margin-top: 1px;
}

.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;

}

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;

  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;

  animation-delay: .2s;
  animation-direction: alternate;

  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;

  animation-delay: .3s;
  animation-direction: alternate;


  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;

  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }

  25% {
    top: 2px;
  }

  50% {
    top: 3px;
  }

  75% {
    top: 2px;
  }

  100% {
    top: 1px;
  }
}

@-o-keyframes mouse-wheel {

  0% {
    top: 1px;
  }

  25% {
    top: 2px;
  }

  50% {
    top: 3px;
  }

  75% {
    top: 2px;
  }

  100% {
    top: 1px;
  }
}

@keyframes mouse-wheel {

  0% {
    top: 1px;
  }

  25% {
    top: 2px;
  }

  50% {
    top: 3px;
  }

  75% {
    top: 2px;
  }

  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {

  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes mouse-scroll {

  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes mouse-scroll {

  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes mouse-scroll {

  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.information__container {
  color: var(--light-color);
  font-family: 'Lato', sans-serif;
  /* background-color: var(--primary-color); */
  border: var(--primary-color) solid 1px;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 var(--primary-color);
}



.information__icons {
  font-size: 4rem;
}

.information__content {
  margin-top: 15px;
  margin-bottom: 15px;

}

.information__content-head {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.information__content-text {
  font-size: 1rem;
  color: gainsboro;
}